:root {
  --body-background-color: #171200;
  --body-text-color: #f0ffff;
  --card-background-color: #2b2500;
  --nav-background-color: #2b2500;
  --nav-border-bottom-color: #544c01;
  --nav-current-border-bottom-color: #bcb91a;
  --card-border-color: #2b2500;
  --down-border-left-color: #eb3b5a;
  --down-background-color: #6b1020;
  --degraded-border-left-color: #f7b731;
  --up-border-left-color: #bf9520;
  --tag-color: #2b2500;
  --tag-up-background-color: #bf9a20;
  --tag-down-background-color: #eb3b5a;
  --tag-degraded-background-color: #f7b731;
  --change-background-color: #f7b731;
  --error-button-border-color: #ad861a;
  --error-button-background-color: #d6a438;
  --error-button-color: #ffffff;
  --submit-button-border-color: #ad861a;
  --submit-button-background-color: #d3d638;
  --submit-button-color: #ffffff;
  --graph-opacity: 1;
  --graph-filter: none;
}
